@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
/* Fade In Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* Button pulse */
@keyframes pulseGlow {
  0% { box-shadow: 0 0 0px #facc15; }
  50% { box-shadow: 0 0 15px #facc15; }
  100% { box-shadow: 0 0 0px #facc15; }
}

.pulse {
  animation: pulseGlow 2s infinite;
}
